body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size: 14px;

}

.welcome {
    background: url(img/background%20photo.jpg) no-repeat;
    background-size:1200px 800px;
    background-position: top center;
    text-align: center;

}

.gray-bg {
    background: #eeeeee;
}

.features-text {
    background: #81b3d2;
    color: white;
}


a {
    text-decoration: none;
    color: black;
    text-transform:uppercase;
}
.site-menu-item,
.features-item,
.social-list,
.sort-list li,
.hotels-item{
 list-style-type: none;
}

.booking,
.features-item-image,
.map{
  text-align: center;  
}

